
chromedriver==2.24.1

jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
jupyterlab==1.2.6
jupyterlab-server==1.0.6
keyring==21.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
libarchive-c==2.8
llvmlite==0.31.0
locket==0.2.0
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.5
PyDispatcher==2.0.5
pydocstyle==4.0.1
pyflakes==2.1.1
Pygments==2.5.2
PyHamcrest==2.0.2
pylint==2.4.4

scipy==1.4.1
Scrapy==2.2.0
scrapy-wayback-machine==1.0.0
seaborn==0.10.0
selenium==3.141.0


